@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.nav-bar {
  /* height: 100px; */
  width: 100%;
  background-color: #eee;
}

.navigation {
  width: 87%;
  background-color: #eee;
  height: 50px;
  margin: auto;
  display: flex;
}

.nav-left {
  width: 35%;
  height: 100%;
  display: flex;
}

.nav-center {
  width: 20%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: end;
}

.nav-right {
  width: 45%;
  height: 100%;
}

.nav-left ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-left ul li {
  height: 100%;
  display: flex;
  padding: 0 15px;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.nav-center img {
  width: 100px;
}

.nav-left ul li:hover {
  background-color: #dbdada;
  cursor: pointer;
}
